my-workflow-.json
{
  "updatedAt": "2025-12-01T06:37:09.000Z",
  "createdAt": "2025-12-01T06:25:20.148Z",
  "id": "Il6P3RznLjyz72FS",
  "name": "My workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "0de6faf2-8630-4fac-a623-59513cc1e3db",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        16,
        48
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "e14cc6db-718f-4eaf-bd51-4ae8a0f543c5",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        496,
        48
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "VVwaZGCn7HELbsv6",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "32df40c2-82b7-4435-964f-ea1d69855d43",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        336,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "DimonHo",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-repository",
          "mode": "list",
          "cachedResultName": "n8n-repository",
          "cachedResultUrl": "https://github.com/DimonHo/n8n-repository"
        },
        "filePath": "="
      },
      "id": "5688cd6c-ccb7-4cb1-8c96-17acae6c0c5e",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        176,
        48
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "emXTfKp7SxABnoLB",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "DimonHo",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-repository",
          "mode": "list",
          "cachedResultName": "n8n-repository",
          "cachedResultUrl": "https://github.com/DimonHo/n8n-repository"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "e8093683-f947-452e-91f0-e4c19132cbe2",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1296,
        -32
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "emXTfKp7SxABnoLB",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "DimonHo",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-repository",
          "mode": "list",
          "cachedResultName": "n8n-repository",
          "cachedResultUrl": "https://github.com/DimonHo/n8n-repository"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "0a0d74cb-fd9e-4490-b189-59ae49166517",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        1296,
        128
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "emXTfKp7SxABnoLB",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "b1a50325-6b85-425c-918e-347f613e4b23",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        1136,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "c1e55fb6-8968-44d1-9ac7-b22a7608988b",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        656,
        48
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "961d7d74-a165-4b21-80c5-1f3a6be65ab5",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        816,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "7c5f6c47-721d-42d6-869b-ee73fedd1060",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "34580dae-29b8-4b2f-b612-eef8ac41966b",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        976,
        48
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "a8ef977a-90ab-4626-bfb5-efa78edbdf55",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        -96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "1d71a59a-8ef9-4a48-a5f3-88f114093cb5",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        -96
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6350f416-9b43-483d-92d9-2652277df22f",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-01T06:25:20.153Z",
      "createdAt": "2025-12-01T06:25:20.153Z",
      "role": "workflow:owner",
      "workflowId": "Il6P3RznLjyz72FS",
      "projectId": "8Cn9PWbBPaKzefmT"
    }
  ],
  "tags": []
}